.select-extend {
  display: none; }

.select-extended-element {
  text-overflow: ellipsis;
  position: relative; }
  .select-extended-element .btn {
    overflow: hidden;
    text-overflow: ellipsis; }
  .select-extended-element .dropdown-menu {
    width: 100%; }
    .select-extended-element .dropdown-menu .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis; }
