.select-extend {
  display: none;
}

.select-last-element {
  .btn {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
  }
}

.select-extended-element {
  text-overflow: ellipsis;
  position: relative;

  &.input-group-prepend {
    margin-bottom: initial;
  }

  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .dropdown-menu {
    .select-search {
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      border-top: 0;
    }

    .select-extend-alert {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 0;
      display: none;
    }

    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
