.select-extend {
  display: none;
}

.select-extended-element {
  text-overflow: ellipsis;
  position: relative;

  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu {
    width: 100%;

    .select-search {
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      border-top: 0;
    }

    .select-extend-alert {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 0;
      display: none;
    }

    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}